body {
  margin:0;
  padding:0;
}


header {
  background-color: #111222;
  color:white;
  padding:10px;
}

main {
  display:grid;
  grid-template-areas:
    "game instructions";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

main > section.game {
  grid-area: game;
}

main > section.instructions {
  grid-area: instructions;
}

footer {
  background-color: #111222;
  color:white;
  height: 50px;
  text-align:center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
